.header {
    background-image: url(../EricPW_files/timg.jpeg);
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    position: fixed;
    right: 3vw;
    background-color:#eeeeee;
    font-size: 1.5vw;
    width:23vw;
    padding:1vw; 
}
section {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px; 
}

h1{
    font-size: 1.5em;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

h2{
    font-size: 1.2em;
    margin-left: 1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

p{
    font-size: 1.0em;
    padding-left: 0.8em;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

footer {
    background-image: url(../EricPW_files/timg.jpeg);
    color:white;
    clear:both;
    text-align:center;
    font-size: 2vw;
    padding:5px; 
}
canvas {  
    border:1px dashed black;  
}  
  
.imgGallery{  
    width:550px;  
    position:relative;  
    height:170px;
}  
  
img{  
    opacity:1;  
}

ul,li{ padding-left: 1vw ;padding-bottom: 2vw; margin:0; overflow:visible;}
li{ list-style:none;}
img{ border:0;}
.box{ width:100%;}
.box li{ float:left; width:45%;  margin-right:2vw;}

.black_overlay{
    display: none; 
    position: relative;  
    top: 0%;  
    left: 0%;  
    width: 100%;  
    height: 100%;  
    background-color: #ffffff;  
    z-index:1001;  
    -moz-opacity: 0.8;  
    opacity:.80;  
    filter: alpha(opacity=80);  
} 
.white_content {
    display: none;  
    position: relative; 
    top: -477px;  
    background-color: white; 
    z-index:1002; /* 数字的大小指明了div的相对层，数字大的在上层 */
    overflow: auto;
}  

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
